@media (min-width: 992px) {
  html, body {
    height: 100%;
  }
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  color: #313131;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.4;
  background: #f4f4f6;
  display: flex;
  align-items: center;
}

.container {
  display: block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 800px) {
  .col-6 {
    width: 60%;
  }

  .col-4 {
    width: 40%;
  }
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading__image {
    height: 2em;
    width: 2em;
    margin-right: 1em;
}

h1 {
  text-align: center;
  font-size: 2.78em;
  font-weight: 300;
  line-height: 1.4;
}

h2 {
  font-size: 1.8em;
}

p {
  margin-bottom: 2em;
  color: #202020;
}
h1 small {
  font-size: .5em;
}
small {
  color: #999;
}
small a {
  color: #999;
  text-decoration: none;
}
small a:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
  margin-top: 3em;
}

img {
  width: 100%;
}

.btn {
  background-repeat: repeat-x;
  background-color: #d3505a;
  background-image: linear-gradient(to bottom,#ee5f64 0,#d3505a 100%);
  border: 1px solid #D13644;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 11px 45px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(142,4,17,.5);
  transition: background-position .1s linear;
  width: auto;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background-position: 0 -15px;
  color: #fff;
  text-decoration: none;
}
.btn--login {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  min-width: 12.125em;
  padding: .8em 1.625em;
  box-sizing: content-box;
}


/* Browser mockup code
* Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
* Live example: https://updown.io
*/

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser-mockup > * {
  display: block;
}

.browser-mockup {
  margin: 2em;
  flex: 1;
}
